In [22]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('GfSD\SDGData.csv', sep=',',decimal=',', skiprows=0)

for year in range(1990,2020):
    year = str(year)
    dado_invalido = pd.isnull(df[year])
    df.loc[dado_invalido, year] = 0

df.transpose()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 35
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,0,0,0,0,0,0,...,85.6442178736525,85.9325668923006,86.2323839036625,86.4785972446623,86.7226851698721,86.9379329026332,87.0407737328279,87.2355388850014,87.307067521291,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,0,0,0,0,0,0,...,87.0395883900211,88.992619805618,88.0153561759997,88.681885670696,89.195062354407,90.3246594905463,88.9107494038454,89.9999455504114,90.2777350826821,NaN
2,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,0,0,54.7229438513037,56.8070388621623,57.8726050466716,57.4477251330621,...,75.3770220882081,79.5826215366143,77.6661574656659,78.9515923942286,79.7916653755411,82.373065558642,82.9707537126568,83.7405000180715,81.6608986675958,NaN
3,Arab World,ARB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,0,0,0,0,0,0,...,96.9800791858605,97.2390570202181,96.8561009554453,97.0213129527158,97.2617989667955,97.4836583550061,97.581236908265,98.2782869522888,97.5403970169547,NaN
4,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,0,0,0,0,0,0,...,0,0,30.47,0,0,37.23,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106483,Zimbabwe,ZWE,"Water productivity, total (constant 2015 US$ G...",ER.GDP.FWTL.M3.KD,0,0,7.34393083437738,0,0,0,...,5.42818268114656,0,0,0,0,6.30705412191216,0,0,NaN,NaN
106484,Zimbabwe,ZWE,Women Business and the Law Index Score (scale ...,SG.LAW.INDX,55,55,57.5,57.5,66.875,66.875,...,86.875,86.875,86.875,86.875,86.875,86.875,86.875,86.875,86.875,NaN
106485,Zimbabwe,ZWE,Women making their own informed decisions rega...,SG.DMK.SRCR.FN.ZS,0,0,0,0,0,0,...,0,0,0,59.9,0,0,0,0,NaN,NaN
106486,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,0,0,0,0,6.4,0,...,0,0,0,3.7,0,0,0,5.41835211891487,NaN,NaN
106487,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,0,0,0,0,31,0,...,0,0,33.5,32.4,0,0,0,33.6580568010441,NaN,NaN